{% extends 'base/base.html' %}

{% load staticfiles %}

{% block content %}

	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url({% static "skill_senpai/template/images/bright-energy-idea-247753.jpg" %});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Find TUM lectures that suite you best</h1>
							<h2>We are on <a href="https://github.com/Mixermachine/skill-senpai" target="_blank">github.com</a></h2>
							<p><a class="btn btn-primary btn-lg btn-learn" href="/pre-lectures/">Find pre-lectures</a> <a class="btn btn-primary btn-lg btn-learn" href="/curriculum/">Plan your curriculum</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-counter" class="fh5co-counters">
		<div class="container">
			<div class="row">
				<div class="col-md-3 text-center animate-box">
					<span class="fh5co-counter js-counter" data-from="0" data-to="123" data-speed="5000" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label">Unique Users</span>
				</div>
				<div class="col-md-3 text-center animate-box">
					<span class="fh5co-counter js-counter" data-from="0" data-to="1234" data-speed="5000" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label">Page accesses</span>
				</div>
				<div class="col-md-3 text-center animate-box">
					<span class="fh5co-counter js-counter" data-from="0" data-to="12345" data-speed="5000" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label">Api calls</span>
				</div>
				<div class="col-md-3 text-center animate-box">
					<span class="fh5co-counter js-counter" data-from="0" data-to="123456" data-speed="5000" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label">Lectures</span>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-explore" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>We are working on it</h2>
					<p>A work in progress by TUM students, created at a Hackathon in Dec 2018</p>
				</div>
			</div>
		</div>		
		<div class="fh5co-explore fh5co-explore1">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-push-5 animate-box">
						<img class="img-responsive" src="{% static "skill_senpai/template/images/cole-keister-291568-unsplash_resized.jpg" %}" alt="work">
					</div>
					<div class="col-md-4 col-md-pull-8 animate-box">
						<div class="mt">
							<h3>We Want You To find the best Courses that fit you</h3>
							<p>The TUMonline lecture presentation can be hard to grasp. We want to make it easier for you to find courses that match your interests and curriculum</p>
							<ul class="list-nav">
								<li><i class="icon-check2"></i>Easy</li>
								<li><i class="icon-check2"></i>Interactive</li>
								<li><i class="icon-check2"></i>Smart</li>
							</ul>
							<!-- <p><a class="btn btn-primary btn-lg popup-vimeo btn-video" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play"></i> Watch Video</a></p> -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="fh5co-explore">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-pull-1 animate-box">
						<img class="img-responsive" src="{% static "skill_senpai/template/images/seminar-594125_1920.jpg" %}" alt="work">
					</div>
					<div class="col-md-4 animate-box">
						<div class="mt">
							<div>
								<h4><i class="icon-user"></i>Created by TUM students</h4>
								<p>We created this project at a Hackathon and want to keep this project alive. Our timetable is pretty packed so new feature might take some time :).</p>
							</div>
							<div>
								<h4><i class="icon-server"></i>Up to date tools</h4>
								<p>We use Django, Python, MariaDB and Elasticsearch to make this project possible.</p>
							</div>
							<div>
								<h4><i class="icon-heart"></i>Get involved</h4>
								<p>We organize our work on Github and try to split new features in small tasks (to make it easier for starters).
                                    Have a look at <a href="https://github.com/Mixermachine/skill-senpai/projects">Github projects page</a> and submit a pull request for your solution.
                                    We will get in touch with you :).</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--<div id="fh5co-steps">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Start A Course</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>

			<div class="row bs-wizard animate-box" style="border-bottom:0;">
                
				<div class="col-xs-3 bs-wizard-step complete">
					<div class="text-center bs-wizard-stepnum"><h4>Step 1</h4></div>
					<div class="progress"><div class="progress-bar"></div></div>
					<a href="#" class="bs-wizard-dot"></a>
					<div class="bs-wizard-info text-center"><p>Create A Free Course</p></div>
				</div>

				<div class="col-xs-3 bs-wizard-step active">
					<div class="text-center bs-wizard-stepnum"><h4>Step 2</h4></div>
					<div class="progress"><div class="progress-bar"></div></div>
					<a href="#" class="bs-wizard-dot"></a>
					<div class="bs-wizard-info text-center"><p>Upload Content</p></div>
				</div>

				<div class="col-xs-3 bs-wizard-step disabled">
					<div class="text-center bs-wizard-stepnum"><h4>Step 3</h4></div>
					<div class="progress"><div class="progress-bar"></div></div>
					<a href="#" class="bs-wizard-dot"></a>
					<div class="bs-wizard-info text-center"><p>Make Your Course Beautiful</p></div>
				</div>

				<div class="col-xs-3 bs-wizard-step disabled">
					<div class="text-center bs-wizard-stepnum"><h4>Step 4</h4></div>
					<div class="progress"><div class="progress-bar"></div></div>
					<a href="#" class="bs-wizard-dot"></a>
					<div class="bs-wizard-info text-center"><p>Start Making Money</p></div>
				</div>
			</div>

		</div>
	</div> -->

	<div id="fh5co-testimonial" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Testimonials</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						<div class="owl-carousel owl-carousel-fullwidth">
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="{% static "skill_senpai/template/images/adult-beard-boy-220453_resize.jpg" %}"alt="user">
									</figure>
									<span>Jean Stockimage Doe, via <a href="#" class="twitter">Twitter</a></span>
									<blockquote>
										<p>&ldquo;Instruction unclear, hand stuck in toaster&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="{% static "skill_senpai/template/images/blur-casual-coffee-712513_resize.jpg" %}" alt="user">
									</figure>
									<span>Johna Stockimage Doeis, via <a href="#" class="twitter">Twitter</a></span>
									<blockquote>
										<p>&ldquo;Well, it's something&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="{% static "skill_senpai/template/images/beard-blur-casual-462680_resize.jpg" %}" alt="user">
									</figure>
									<span>Martin Stockimage Müller, via <a href="#" class="twitter">Twitter</a></span>
									<blockquote>
										<p>&ldquo;Ok&rdquo;</p>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Newest features</h2>
					<p>The newest coolest stuff.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#"><img class="img-responsive" src="{% static "skill_senpai/template/images/rocket-rocket-launch-smoke-73871_resize.jpg" %}" alt=""></a>
						<div class="blog-text">
							<h3><a href=""#>We are live!</a></h3>
							<span class="posted_on">Jan. 13, 2019</span>
							<!--<span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>-->
							<p>The new landing page is up and running.</p>.</p>
							<!--<a href="#" class="btn btn-primary">Read More</a>-->
						</div> 
					</div>
				</div>
                <!--<div class="col-lg-4 col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#"><img class="img-responsive" src="{% static "skill_senpai/template/images/project-2.jpg" %}" alt=""></a>
						<div class="blog-text">
							<h3><a href=""#>45 Minimal Worksspace Rooms for Web Savvys</a></h3>
							<span class="posted_on">Nov. 15th</span>
							<span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<a href="#" class="btn btn-primary">Read More</a>
						</div> 
					</div>
				</div> -->
				<!--<div class="col-lg-4 col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#"><img class="img-responsive" src="{% static "skill_senpai/template/images/project-3.jpg" %}" alt=""></a>
						<div class="blog-text">
							<h3><a href=""#>45 Minimal Workspace Rooms for Web Savvys</a></h3>
							<span class="posted_on">Nov. 15th</span>
							<span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<a href="#" class="btn btn-primary">Read More</a>
						</div> 
					</div>
				</div> -->
			</div>
		</div>
	</div>


	<div id="fh5co-started" style="background-image:url("{% static "skill_senpai/template/images/img_bg_2.jpg" %}");">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Lets Get Started</h2>
					<p>Find the best TUM courses</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p><a href="#" class="btn btn-default btn-lg">Plan your Curriculum</a></p>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
